---
import { hoShinSulData } from '../data/hoShinSul';

const { grade } = Astro.props;
const selected = hoShinSulData.find(item => item.grade === grade);
---
{selected && selected.groups.map(group => (
  <section class="flex flex-col mb-8">
    <h3 class="font-bold text-xl mb-2">{group.group}</h3>
    {group.subgroups?.map(subgroup => (
      <div class="">
        <h4 class="font-bold mb-1">{subgroup.subgroup}</h4>
        <ul>
          {subgroup.techniques.map(technique => (
            <li><strong class="mr-2">{technique.number}.</strong> {technique.description}</li>
          ))}
        </ul>
      </div>
    ))}

    {group.techniques?.length &&
      <ul>
        {group.techniques.map(technique => (
          <li><strong class="mr-2">{technique.number}.</strong> {technique.description}</li>
        ))}
      </ul>
    }
  </section>
))}
